
body{
    background-color: bisque;
}
#box-1{
    width: 400px;
    height: 200px;
    border-radius: 5px;
    background-color: aqua;
    border:1px solid black;
    position:absolute;
    top:20%;
    left: 10%;
    text-align: center;
}
#btn-1{
    border-radius: 10px;   
    background-color:pink ;
    position: absolute;
    left: 20%;
    top:13%;
}
#btn-2{
    border-radius: 10px;   
    background-color:pink ;
    position: absolute;
    left: 60%;
    top: 13%;
}


#box-2{
    width: 400px;
    height: 200px;
    border-radius: 5px;
    align-content: center;
    text-align: center;
    background-color: aqua;
    border:1px solid black;
    position:absolute;
    top:20%;
    left: 50%;
}